@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #ffffff;
}

h3 {
    margin: 1rem 0rem 0rem;
    font-size: x-large;
}

.mobile-container {
    background-color: #DEEAEE;
    box-shadow: 0 0 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /*fix*/
    max-width: 100%;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 2rem;
}

/* Highest Score Container*/

.high-score-container {
    background-color: #6544c0;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    padding: 0.25rem 1rem;
    text-align: center;
}

.high-score-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.column-item {
    font-size: medium;
    min-width: 6rem;
    justify-content: center;
    font-weight: 600;
}

.high-score-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0.2rem 0rem;
}

.high-score-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hs-item {
    font-size: small;
    min-width: 6rem;
    justify-content: center;
}

/* Categories */

.category-selection {
    text-align: center;
}

.category-selection h3 {
    color: #607cd8;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Category */

.category {
    background-color: #6544c0;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    border-radius: 5px;
    box-shadow: 0 0 10px #0c0c0c4a;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 80%;
}

.category img {
    object-fit: cover;
    width: 100%;
}

.category-body {
    justify-content: center;
    padding: 0rem 0 0.5rem;
}

.category-body h4 {
    margin: 0;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
}

/* Category Container */

.category-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.category-container.hidden {
    opacity: 0;
    /* Set up to no click zone for event */
    pointer-events: none;
}

/* Popup */

.popup {
    background-color: #DEEAEE;
    position: relative;
    min-height: 100vh;
    max-width: 400px;
    width: 100%;
    overflow: auto;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #FFFFFF;
    z-index: 1;
}

#category-info {
    background-color: #6544c0;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    text-align: center;
    font-size: x-large;
    color: #FFFFFF;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 3px #778790;
}

#video-frame {
    max-width: 400px;
    width: 100%;
    pointer-events: none;
    z-index: 0;
}

.configuration {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 6px #778790;
    max-width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 0.1rem;
}

.configuration p {
    color: #607cd8;
    font-size: large;
    font-weight: 600;
    margin: 0.8rem;
}

.difficulty-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 0.8rem;
}

.quiz-set-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 0.8rem;
}

.config-item {
    font-family: "Poppins", sans-serif;
    color: #607cd8;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    border-radius: 40%;
    border-style: solid;
    border-width: 2px;
    border-color: #607cd8;
    display: flex;
    /* Important */
    justify-content: center;
    align-items: center;
    /* Prevent selected as text */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.config-item:focus {
    background-color: #6544c0;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    color: #ffffff;
    border: none;
    outline-style: none;
}

.confirm-section {
    display: flex;
    justify-items: center;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

.btn-go {
    background-color: #6544c0;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    border: none;
    color: #ffffff;
    border-radius: 6px;
    width: 60%;
    font-size: large;
    font-weight: 700;
    padding: 0.8rem 0;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px #778790;
    cursor: pointer;
}

.btn-back {
    background-color: #778790;
    /* background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%); */
    border: none;
    color: #ffffff;
    border-radius: 6px;
    width: 30%;
    font-size: large;
    font-weight: 700;
    padding: 0.8rem 0;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px #778790;
    cursor: pointer;
}

.btn-go:focus {
    outline-style: none;
    box-shadow: 0 0 10px #778790;
}

.btn-back:focus {
    outline-style: none;
    box-shadow: 0 0 10px #778790;
}

/* Quiz Container */

.quiz-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.quiz-container.hidden {
    opacity: 0;
    /* Set up to no click zone for event */
    pointer-events: none;
}

.quiz-popup {
    background-color: #DEEAEE;
    position: relative;
    min-height: 100vh;
    max-width: 400px;
    width: 100%;
    overflow: auto;
}

.quiz-popup .close-quiz-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #FFFFFF;
    z-index: 1;
}

.cate-header {
    display: flex;
    align-items: center;
    background-color: #6544c0;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    height: 4rem;
    box-shadow: 0 0 6px #778790;
}

.cate-header span {
    font-size: x-large;
    margin-left: 2rem;
}

.status-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.quiz-number {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    align-items: baseline;
}

.current-quiz {
    font-size: x-large;
    color: #000000;
    font-weight: 700;
}

.total-quiz {
    color: #868585;
    font-weight: 600;
    margin-left: 0.4rem;
}

.quiz-status {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    align-items: baseline;
    justify-content: space-between;
    width: 30%;
}

.wrong-quiz {
    color: #fa0000;
    font-size: 1.2rem;
    transition: transform .4s; /* Animation */
}

.wrong-quiz span {
    color: #868585;
    font-weight: 600;
    font-size: medium;
}

.correct-quiz {
    color: #00ff6a;
    font-size: 1.2rem;
    transition: transform .4s; /* Animation */
}

.ping {
    transform: scale(2);
}

.correct-quiz span {
    color: #868585;
    font-weight: 600;
    font-size: medium;
}

.quiz-content {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 3px 6px #778790;
    max-width: 85%;
    margin: auto;
    text-align: center;
    padding: 0.5rem 0 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quiz {
    color: #607cd8;
    font-size: x-large;
    font-weight: 800;
    margin: 1rem 0.5rem 0;
}

.answers {
    color: #000000;
    list-style: none;
    padding: 0;
    text-align: start;
}

.answer {
    margin: 1rem 1rem 0 2rem;
}

.quiz-mark {
    font-weight: bolder;
    font-size: large;
    margin-right: 0.5rem;
}

/* Slect answer zone */

.select-answer-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}

.answer-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.next {
    background-color: #607cd8;
    color: #FFFFFF;
    font-size: 1rem;
}

/* Author */

.author {
    /* color: #ffffff; */
    text-align: center;
    background-color: #6544c0;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    border-radius: 3px;
    padding: 0.5rem 0rem 1rem;
}

.author-info {
    margin: 0.5rem;
    font-size: small;
}

.socials {
    text-align: center;
}

.sc-btn {
    display: inline-block;
    font-weight: 600;
    box-sizing: border-box;
    text-align: center;
    min-width: 40px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.btn-facebook {
    color: #ffffff;
    border-color: #4267B2;
    background-color: #4267B2;
}

.btn-linkedin {
    color: #ffffff;
    border-color: #0e76a8;
    background-color: #0e76a8;
}

.btn-github {
    color: #ffffff;
    border-color: #211F1F;
    background-color: #211F1F;
}